
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';
@import 'utils/fonts';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: $mainFontSize; font-family: $mainFontFamily; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; margin: 0 auto; }

h1 { font: bold italic 17px/1.2 $mainFontFamily; }
h2 { font: bold 17px/1.2 $mainFontFamily; }
h3 { font: bold 13px/1.2 $mainFontFamily; }
h4 { font: normal 13px/1.2 $mainFontFamily; }
h5 { font: 300 11px/1.25 $secondaryFontFamily; text-transform: uppercase; }

p { font: normal 11px/1.25 $secondaryFontFamily;
  a { color: $linkColor;
    &:active, &:focus { color: $linkColor; }
  }
}
b { font-weight: 600; }
i { font-style: italic; }

a { transition: all .3s ease-out;
  svg { transition: fill, stroke .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 24px 16px; background: transparent; display: grid; grid-gap: 24px 16px; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { grid-gap: 24px; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 24px 48px; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth; }
}

@media screen and (min-width: $desktopWidth) {
  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $DarkGrey; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  h1 { font-size: 50px; }
  h2 { font-size: 40px; }
  h3, h4 { font-size: 30px; }
  h5 { font-size: 16px; }

  p { font-size: 18px;
    a:hover { color: $linkColor_hover; text-decoration: underline; }
  }

  a:hover { color: $linkColor_hover; }
}


/* Layout styles */
header { background: $Orange; @include z('header');
  .container { height: 64px; padding: 0 16px;
    .header { display: flex; justify-content: space-between; align-items: center;
      &-logo { display: flex;
        a { color: $White; font-size: 16px; font-style: italic; display: flex; align-items: center;
          img { width: 40px; height: 40px; margin-right: 10px; flex: none; }
        }
      }
      &-menu { display: none; }
      &-menu-bar { display: flex;
        a { color: $White; font-size: 14px; line-height: 1; letter-spacing: 2.8px; display: flex; flex-direction: column; justify-content: center;
          svg { width: 34px; height: 17px; margin-bottom: 2px; fill: $White; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .header {
        &-menu { display: flex;
          ul { display: flex;
            li {
              &:not(:last-child) { margin-right: 18px; }

              a { color: $White; font-size: 17px; font-family: $bookFontFamily; white-space: nowrap;
                &:hover { text-decoration: underline; }
              }
            }
          }
        }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) { height: 108px; padding: 0 48px;
      .header { position: relative;
        &-logo { margin-right: 48px;
          a { font-size: 28px;
            img { width: 60px; height: 60px; margin-right: 16px; }
          }
        }
        &-menu ul li a { font-size: 20px; }
      }
    }
  }
}

main { @include z('main'); }

footer { background: $footerBackground; @include z('footer');
  .container { padding: 24px 16px 16px;
    .footer {
      &-logo { margin-bottom: 22px; display: flex;
        img { width: 100px; height: 41px; flex: none; }
      }
      &-info { display: flex; flex-direction: column;
        &__block { position: relative; display: flex; flex-direction: column;
          &:not(:first-child) { margin-top: 22px; }
        }
        &__title { margin-bottom: 14px;
          h5 { color: $White; }
        }
        &__text p { color: $White;
          a { color: $White; text-decoration: underline;
            &:hover { color: $linkColor_hover; }
          }
          img { width: 34px; height: 41px; margin: -5px 10px 3px 0; float: left; }
        }
        &__image { margin-top: 14px; display: flex;
          a { display: flex;
            img { width: 162px; height: 51px; flex: none; }
          }
        }

        &-contacts { margin-right: 48px;
          &__item { color: $White; font-size: 11px; font-family: $secondaryFontFamily; line-height: 1.2;
            &:first-child { margin-right: 80px; }
            &:not(:last-child) { margin-bottom: 8px; }

            a { color: $White; }
          }
        }
        &-social { position: absolute; right: 0; bottom: 0; display: flex; flex-direction: column;
          &__link { display: flex;
            &:not(:last-child) { margin-bottom: 8px; }

            a { color: $White; display: flex;
              svg { fill: $White; flex: none;
                &.vk { width: 27px; height: 23px; }
                &.telegram { width: 28px; height: 20px; }
                &.search { width: 28px; height: 23px; }
              }
            }
          }
        }
      }
      &-copyright { border-top: 1px solid $White; margin-top: 24px; padding-top: 4px;
        p { color: $White; font-weight: 100; font-size: 8px; letter-spacing: -.4px; text-align: right; text-transform: uppercase; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .footer {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px 32px;
      .footer {
        &-logo { margin-bottom: 48px;
          img { width: 225px; height: 94px; }
        }
        &-info { flex-direction: row; justify-content: space-between;
          &__block { width: calc(38% - 72px);
            &:first-child { margin-left: 20px; }
            &:not(:first-child) { width: calc(31% - 72px); margin: 0 0 0 108px; }
          }
          &__title { margin-bottom: 36px; }
          &__text p { font-weight: 300; font-size: 16px;
            img { width: 50px; height: 59px; margin: -7px 12px 5px 0; }
          }
          &__image { margin-top: 16px;
            a img { width: 247px; height: 78px; }
          }

          &-contacts { margin: 0 0 28px;
            &__item { font-weight: 300; font-size: 16px;
              &:first-child { margin-right: 140px; }
              &:not(:last-child) { margin-bottom: 20px; }

              a:hover { color: $linkColor_hover; }
            }
          }
          &-social { position: relative; right: auto; bottom: auto; flex-direction: row;
            &__link {
              &:not(:last-child) { margin: 0 8px 0 0; }

              a {
                &:hover { color: $linkColor_hover;
                  svg { fill: $linkColor_hover; }
                }

                svg {
                  &.vk { width: 24px; height: 15px; }
                  &.telegram { width: 22px; height: 16px; }
                  &.search { width: 22px; height: 18px; }
                }
              }
            }
          }
        }
        &-copyright { margin-top: 48px; padding-top: 8px;
          p { font-size: 12px; }
        }
      }
    }
  }
}


/* Animations */
.object { opacity: 0; transform: translateX(-25px); }

@media (prefers-reduced-motion: no-preference) {
  .object { transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out; }
}

.object-animation { opacity: 1; transform: translateX(0px); }


/* Module styles */
@import 'module/breadcrumbs';
@import 'module/menu';


/* Page styles */
@import 'page/index';
@import 'page/about';
@import 'page/contacts';
@import 'page/news';
@import 'page/article';
