extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'about'
  -
    let menu = [
      { url: '/about.html', title: 'Наша деятельность' },
      { url: '#', title: 'История движения' },
      { url: '#', title: 'Наши документы' },
      { url: '#', title: 'Форумы движения' },
      { url: '#', title: 'Отношения со спонсорами' },
      { url: '#', title: 'Новости движения' },
      { url: '#', title: 'Наша презентация' },
      { url: '#', title: 'СМИ о нас' },
      { url: '#', title: 'Отзывы пациентов' },
      { url: '#', title: 'Наша библиотека' },
      { url: '#', title: 'Каталог видео' }
    ]

block content
  section#about
    .container
      .about.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='#' title='О нас') О нас
          li.breadcrumbs__item
            a(href='/about.html' title='Наша деятельность') Наша деятельность
        .about__header
          h1 О движении
        .about__main
          nav.about-menu
            ul
              each link in menu
                li
                  a(href=link.url title=link.title) #{ link.title } +
          .about__info
            .about__text
              p
                | Межрегиональное общественное движение «Движение против рака» создано онкологическими пациентами, их родственниками, онкологами и людьми неравнодушными к проблеме онкологии. Наша главная цель – помощь онкологическим и онкогематологическим пациентам в реализации прав на: лекарственное обеспечение, своевременную постановку диагноза, доступ к инновационной терапии, получение инвалидности, восстановление.
                br
                | МОД «Движение против рака» активно взаимодействует с органами здравоохранения, онкодиспансерами, врачами онкологами в области соблюдения и реализации прав онкологических и онкогематологических пациентов.
              p Отделения МОД «Движение против рака» действуют в 18 субъектах РФ, это Амурская область, г. Москва, Московская область, Нижегородская область, Новгородская область, Новосибирская область, Омская область, Приморский край, Республика Карелия, Республика Северная Осетия — Алания, Республика Татарстан, Ростовская область, Рязанская область, г. Санкт-Петербург, Самарская область, Свердловская область, Ульяновская область, Челябинская область.
            .about__title
              h4 Что делает «Движение против рака»
            .about__text
              p «Горячая линия» - работа с обращениями онкологических и онкогематологических пациентов и их близких. Тематика вопросов, которые поступают от онкологических и онкогематологических пациентов: незнание своих прав, своевременная диагностика, лекарственное обеспечение, медицинские вопросы, психологические проблемы.
              p
                | Обратиться на «Горячую линию» Движения можно по телефону 
                b 8 800 200 47 32
                | , с 8:00 – 14:00 Мск., звонок бесплатный, написать на электронную почту 
                b info@rakpobedim.ru
                | , в 
                a(href='https://t.me/protivraka2008' target='_blank' title='Перейти') Телеграм канал
                | . Мы всегда готовы помочь вам добиться реализации ваших прав в рамках системы ОМС.
              p
                | Дискуссионные мероприятия и Школы для онкологических пациентов, с привлечением ведущих врачей онкологов, руководителей в сфере здравоохранения на всех уровнях, экспертов по правам пациентов, психологов. 
                a(href='#' target='_blank' title='Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких') Посмотреть мероприятия для онкологических и онкогематологических пациентов и их близких
                | .
                br
                | Социологические опросы онкологических и онкогематологических пациентов и их близких. 
                a(href='#' target='_blank' title='Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению') Мы проводим социологические опросы с целью совершенствования государственных программ онкологической помощи населению
                | .
              p
                a(href='#' target='_blank' title='Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения') Всероссийский Ежегодный Форум онкологических пациентов «Движение против рака» с участием пациентов, врачей, представителей органов власти, лидеров общественного мнения
                | . МОД «Движение против рака» взаимодействует с депутатами Государственной Думы и Федерального Собрания, руководством Минздрава РФ, Росздравнадзора, Фонда обязательного медицинского страхования и органов здравоохранения в регионах. «Движение против рака» добивается принятия решений в интересах онкологических пациентов и совершенствования качества и доступности онкологической помощи.
              p Представители Движения входят в состав Общественного совета и Совета общественных организаций по защите прав пациентов при Минздраве России, Общественного совета по защите прав пациентов при Федеральной службе по надзору в сфере здравоохранения (Росздравнадзор) и его отделениях при территориальных органах Росздравназдора в субъектах РФ.
            .about__title
              h4 За что выступает «Движение против рака»
            .about__text
              p
                | Государственные программы по совершенствованию онкологической помощи, а также система лекарственного обеспечения должны гарантировать доступ всем онкологическим и онкогематологическим пациентам, независимо от стадии заболевания и степени инвалидности, к самым современным и эффективным средствам диагностики и лечения, как это принято в большинстве развитых странах мира.
                br
                | Все расходы на лекарственное обеспечение онкологических пациентов, инновационные методы диагностики индивидуальных характеристик опухоли должно взять на себя государство, гарантирующее оказание бесплатной медицинской помощи.
                br
                | В российской онкологии должны применяться самые современные стандарты и протоколы лечения, отражающие последние достижения медицины и принятые в развитых странах.
  include include/code
