extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'article'

block content
  section#article
    .container
      .article.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='/news.html' title='Новости и анонсы') Новости и анонсы
        .article__header
          h2 Новости и анонсы
        article.article__main
          .article__title
            h1 Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля
          .article__image
            picture
              source(srcset='/image/illustration/article.jpg' media='(min-width: 768px)' type='image/jpeg')
              img(src='/image/illustration/article.m.jpg' srcset='/image/illustration/article.m@2x.jpg 2x' loading='lazy' alt='illustration')
          .article__text
            p Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения вопросов в области онкологической помощи и формирования доступной медицинской среды. В нем принимают участие не только ведущие онкологи нашей страны, но и организаторы здравоохранения, лидеры медицинских сообществ, ведущие представители государственной власти, пациентских и общественных организаций, эксперты фармацевтической отрасли и средств массовой информации.
            p В этом году Форум приурочен к юбилейной дате - в 2023 году МОД «Движение против рака» отмечает 15 лет своей работы.  Все эти годы мы продолжаем помогать онкопациентам решать вопросы лекарственного и правового обеспечения, доступа к инновационной терапии и другие не менее важные проблемы. Поэтому на XIII Форуме мы не только обсудим самые актуальные вопросы онкологической помощи, но и расскажем о новейших проектах, как всегда, направленных на помощь пациентам и их близким.
            p В этом году Форум ждем еще одно новшество.  Мероприятие полностью организовано в онлайн формате. Мы сделали это для того, чтобы любой желающий смог не только присоединиться к мероприятию, но и стать его полноценным участником - задавать вопросы спикерам, участвовать в интерактивных опросах и даже позвонить нам, чтобы ВАШ ВОПРОС прозвучал в ПРЯМОМ ЭФИРЕ.
            p Уже на следующей неделе мы опубликуем подробную программу и ссылку на платформу для регистрации. А пока, давайте пожелаем друг другу удачной и продуктивной недели.
  section#last-themes
    .container
      .last-themes.content
        .last-themes__title
          h2 // Последние темы
        ul.last-themes-list.swiper-wrapper
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Виротерапия. Вирусы')
              .last-themes-list__title
                h3 Виротерапия. Вирусы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Чем и как лечимся
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Обухом по голове или рак молочной железы')
              .last-themes-list__title
                h3 Обухом по голове или рак молочной железы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Моя история
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Меланома. Диагностика после удаления опухоли')
              .last-themes-list__title
                h3 Меланома. Диагностика после удаления опухоли
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 30.01.2023, 13:49
                .last-themes-list__rubric • Моя история
  include include/code
