extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'contacts'

block content
  section#contacts
    .container
      .contacts.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='/contacts.html' title='Контакты') Контакты
        .contacts__header
          h1 Контакты
        .contacts-chairman
          .contacts-chairman__group
            .contacts-chairman__image
              img(src='/image/team/photo.jpg' loading='eager' alt='photo')
            .contacts-chairman__name Бокова Светлана Евгеньевна
          .contacts-chairman__info
            .contacts-chairman__position Председатель Исполнительного комитета МОД «Движение против рака», Член Общественного совета при Минздраве  России по проведению независимой оценки качества оказания услуг медицинскими организациями.
            .contacts-chairman__phone Телефон: +7 (985) 765-75-32
            .contacts-chairman__email
              | e-mail: 
              a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
        ul.contacts-list
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/1.png' loading='eager' alt='icon')
              .contacts-list__name Дронов Николай Петрович
              .contacts-list__phone Телефон: +7 (985) 765-75-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Председатель Координационного Совета
                br
                | МОД «Движение против рака», член Совета общественных организаций по защите прав пациентов при Минздраве России
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/2.png' loading='eager' alt='icon')
              .contacts-list__name Крючкова Галина Дмитриевна
              .contacts-list__phone Телефон: +7(958) 835-87-50
              .contacts-list__email
                | e-mail: 
                a(href='mailto:promo@rakpobedim2008.ru' title='Написать') promo@rakpobedim2008.ru
              .contacts-list__position
                | Руководитель направления по продвижению общественно-полезных проектов
                br
                | МОД «Движение против рака», член Общественного совета при Министерстве здравоохранения Московской области
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/3.png' loading='eager' alt='icon')
              .contacts-list__name Зотова Анна Викторовна
              .contacts-list__phone Телефон: 8(800) 200-47-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Руководитель «Горячей линии»
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/4.png' loading='eager' alt='icon')
              .contacts-list__name Чистов Андрей Витальевич
              .contacts-list__phone Телефон: 8(800) 200-47-32
              .contacts-list__email
                | e-mail: 
                a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
              .contacts-list__position
                | Руководитель юридической службы
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__image
              img(src='/image/team/photo.jpg' loading='lazy' alt='photo')
            .contacts-list__info
              .contacts-list__icon
                img(src='/image/icon/5.png' loading='eager' alt='icon')
              .contacts-list__name Камаева Татьяна Сергеевна
              .contacts-list__phone Телефон: +7 (939) 803-32-75
              .contacts-list__email
                | e-mail: 
                a(href='mailto:territoria.zed@gmail.com' title='Написать') territoria.zed@gmail.com
              .contacts-list__position
                | Руководитель направления по взаимодействию с региональными отделениями
                br
                | МОД «Движение против рака»
          li.contacts-list__item
            .contacts-list__info
              .contacts-list__text
                p
                  | Пресс-служба МОД «Движение против рака»
                  br
                  br
                  | e-mail: 
                  a(href='mailto:press@ravnoepravo.ru' title='Написать') press@ravnoepravo.ru
