extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__main
          .index__title
            h1 Мы рядом, когда вы нуждаетесь в помощи больше всего, потому&nbsp;что никто не должен бороться с раком в&nbsp;одиночку
          .index__hotline
            .index__phone
              a(href='tel:88002004732' title='Позвонить по телефону горячей линии') 8 800 200 47 32
            .index__text
              p Горячая линия для обращений онкологических пациентов и их родственников
              p С 8:00 до 14:00 (время московское), СБ-ВС. и праздничные дни – выходной
        .index__image
          picture
            source(srcset='/image/illustration/main.jpg 1x, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
      .running-line.content
        .running-line__block
          .running-line__info Мы помогаем не всем, а каждому
          .running-line__info Мы помогаем не всем, а каждому
        .running-line__block
          .running-line__info Мы помогаем не всем, а каждому
          .running-line__info Мы помогаем не всем, а каждому
  section#banner
    .container
      .banner.content
        ul.banner-list.swiper-wrapper
          - for (let i = 1; i <= 2; i++)
            li.banner-list__item.swiper-slide
              a(href='#' target='_blank' title='"Движение против рака" Всероссийский XIII Форум')
                .banner-list__image
                  picture
                    source(srcset='/image/banner/1.jpg' media='(min-width: 768px)' type='image/jpeg')
                    img(src='/image/banner/1.m.jpg' srcset='/image/banner/1.m@2x.jpg 2x' loading='lazy' alt='banner')
                .banner-list__group
                  .banner-list__title
                    span "Движение против рака"
                    br
                    | Всероссийский XIII Форум
                  .banner-list__date 16-17 февраля 2023 года
  section#movement
    .container
      .movement.content
        .movement__main
          .movement__title
            h2 // О движении против рака
          .movement__text
            p В условиях ограничения финансирования здравоохранения пациенты все чаще сталкиваются с&nbsp;отказами в получении жизненно-важных препаратов.
            p Специалисты МОД «Движение против рака» помогают пациентам бороться за право на лечение и право на жизнь. Для нас каждое обращение – это не&nbsp;просто анкета, это судьба человека.
          .movement__note И мы готовы бороться за каждого, кто&nbsp;нуждается в&nbsp;нашей помощи!
        .movement__shape
  section#events
    .container
      .events.content
        .events__title
          h2 Наши новости и анонсы мероприятий
        .events__main
          ul.events-list.swiper-wrapper
            - for (let i = 1; i <= 2; i++)
              li.events-list__item.swiper-slide
                a(href='/article.html' title='График работы нашей «горячей линии» в праздничные дни')
                  .events-list__title
                    h4 График работы нашей «горячей линии» в праздничные дни
                  .events-list__text
                    p Дорогие друзья!
                    p Спешим проинформировать Вас о графике работы нашей «горячей линии» 8-800-200-47-32 в период праздничных дней.
                    p Горячая линия продолжит работу до 30 декабря до 14:00...
                  time.events-list__date(datetime='') 29.12.2022
              li.events-list__item.swiper-slide
                a(href='/article.html' title='Приглашаем на Школу пациентов которая пройдет 21 декабря в формате on-line')
                  .events-list__title
                    h4 Приглашаем на Школу пациентов которая пройдет 21 декабря в формате on-line
                  .events-list__text
                    p
                      | Тема: "Уход за кожей у онкологических пациентов".
                      br
                      | Друзья! Спешим пригласить Вас на завершающую в этом году Школу пациентов. Она будет посвящена такой актуальной теме как уход за кожей у онкологических пациентов...
                  time.events-list__date(datetime='') 19.12.2022
              li.events-list__item.swiper-slide
                a(href='/article.html' title='Эксперты оценили качество условий оказания медицинской помощи и подвели итоги работы мед.организаций в 2022 году')
                  .events-list__title
                    h4 Эксперты оценили качество условий оказания медицинской помощи и подвели итоги работы мед.организаций в 2022 году
                  .events-list__text
                    p Друзья! Сегодня в Министерстве здравоохранения Российской Федерации прошло заседание Общественного совета по проведению независимой оценки качества условий...
                  time.events-list__date(datetime='') 16.12.2022
      .events-prev
        svg
          use(href='/image/icon/arrow.svg#arrow')
      .events-next
        svg
          use(href='/image/icon/arrow.svg#arrow')
  section#feedback
    .container
      .feedback.content
        .feedback__main
          .feedback__title
            h2 // Обратная связь
          .feedback__lead Напишите нам, если вам нужна помощь
          .feedback__text
            p Если Вам нужна правовая или&nbsp;психологическая поддержка - мы рядом.
          .feedback__link
            a(href='#' title='Задать вопрос')
              span Задать вопрос
              .feedback__icon
                svg
                  use(href='/image/icon/arrow-link.svg#arrow')
          .feedback__link
            a(href='#' title='Отказали в лекарствах')
              span Отказали в лекарствах
              .feedback__icon
                svg
                  use(href='/image/icon/arrow-link.svg#arrow')
        .feedback__image
          picture
            source(srcset='/image/illustration/feedback.png' media='(min-width: 768px)' type='image/png')
            img(src='/image/illustration/feedback.m.png' srcset='/image/illustration/feedback.m@2x.png 2x' loading='lazy' alt='illustration')
  section#reviews
    .container
      .reviews.content
        .reviews__title
          h2 Благодарности пациентов
        ul.reviews-list.swiper-wrapper
          - for (let i = 1; i <= 2; i++)
            li.reviews-list__item.swiper-slide
              .reviews-list__icon
                img(src='/image/icon/crystal.png' loading='eager' alt='icon')
              .reviews-list__name
                | Дмитрий,
                br
                | Нижегородская область
              .reviews-list__text
                p Благодарю вас за помощь! Врачебная комиссия назначила нам ниволумаб, правда, пока только на два месяца, но это уже хорошо.
            li.reviews-list__item.swiper-slide
              .reviews-list__icon
                img(src='/image/icon/crystal.png' loading='eager' alt='icon')
              .reviews-list__name
                | Анна Н.,
                br
                | Архангельск
              .reviews-list__text
                p
                  | СПАСИБО БОЛЬШОЕ ВАМ !!! У МЕНЯ ПОЯВИЛИСЬ СИЛЫ БОРОТЬСЯ С БОЛЕЗНЬЮ...
                  br
                  | У МЕНЯ ДОЧЬ 16 ЛЕТ И МАТЬ 78 ЛЕТ
                  br
                  | МЫ ОДНИ, НАМ ТЯЖЕЛО
            li.reviews-list__item.swiper-slide
              .reviews-list__icon
                img(src='/image/icon/crystal.png' loading='eager' alt='icon')
              .reviews-list__name Наталья Сакова
              .reviews-list__text
                p Хочу выразить огромную благодарность Румянцевой Марине Борисовне за помощь, поддержку в такой трудной для меня ситуации!
  section#forum
    .container
      .forum.content
        .forum__title
          h2 Форум онкопациентов и их близких
        .forum__text
          p «Движение против рака» — это сайт о помощи онкобольным. Здесь вопросы онкологии затрагивают и люди, перенесшие болезнь, и профессионалы: врачи-онкологи, юристы, психологи.
          p На форумах каждый может рассказать свою историю и задать вопрос по онкологии: о симптомах рака, методах диагностирования и лечения. Пациенты, поборовшие болезнь, затрагивают самые разные темы: оздоровление за границей, возможности бесплатного лечения, простые способы восстановления после лечения.
          p В блогах вы найдете самую разную информацию об онкологии: сможете прочитать о других пациентах, узнать о самых новых способах лечения и реабилитации, увидеть опубликованные результаты исследований ученых.
      .themes.content
        .themes__title
          h2 // Последние темы
        .themes__main
          ul.themes-list.swiper-wrapper
            - for (let i = 1; i <= 3; i++)
              li.themes-list__item.swiper-slide
                a(href='#' title='Обухом по голове или рак молочной железы')
                  .themes-list__title
                    h3 Обухом по голове или рак молочной железы
                  .themes-list__group
                    time.themes-list__date(datetime='') 19.01.2023, 12:33
                    .themes-list__rubric • Моя история
              li.themes-list__item.swiper-slide
                a(href='#' title='Меланома. Диагностика после удаления опухоли')
                  .themes-list__title
                    h3 Меланома. Диагностика после удаления опухоли
                  .themes-list__group
                    time.themes-list__date(datetime='') 30.01.2023, 13:49
                    .themes-list__rubric • Моя история
        .themes-prev
          svg
            use(href='/image/icon/arrow.svg#arrow')
        .themes-next
          svg
            use(href='/image/icon/arrow.svg#arrow')
  section#partners
    .container
      .partners.content
        .partners__title
          h2 Партнеры
        ul.partners-list.swiper-wrapper
          - for (let j = 1; j <= 4; j++)
            - for (let i = 1; i <= 3; i++)
              li.partners-list__item.swiper-slide
                .partners-list__logo
                  img(src='/image/partners/' + i + '.png' loading='lazy' alt='illustration')
