extends include/main

block variables
  - let title = 'Движение против рака'
  - let description = ''
  - let page = 'news'

block content
  section#news
    .container
      .news.content
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href='/' title='Главная') Главная
          li.breadcrumbs__item
            a(href='/news.html' title='Новости и анонсы') Новости и анонсы
        .news__header
          h1 Новости и анонсы
        ul.news-list
          - for (let i = 1; i <= 10; i++)
            .news-list__item
              .news-list__title
                a(href='/article.html' title='Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля')
                  h4 Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля
              .news-list__text
                p Всероссийский Форум МОД «Движение против рака» пройдет в этом году уже в тринадцатый раз. Мероприятие является авторитетной площадкой для обсуждения...
              .news-list__group
                time.news-list__date(datetime='') 23.01.2023
                .news-list__link
                  a(href='/article.html' title='Всероссийский ежегодный Форум «Движение против рака» пройдёт 16 и 17 февраля')
                    svg
                      use(href='/image/icon/arrow-link.svg#arrow')
        ul.news-pagination
          lu.news-pagination__item.current
            a(href='#' title='Листать дальше') 1
          - for (let i = 2; i <= 7; i++)
            lu.news-pagination__item
              a(href='#' title='Листать дальше') #{ i }
  section#last-themes
    .container
      .last-themes.content
        .last-themes__title
          h2 // Последние темы
        ul.last-themes-list.swiper-wrapper
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Виротерапия. Вирусы')
              .last-themes-list__title
                h3 Виротерапия. Вирусы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Чем и как лечимся
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Обухом по голове или рак молочной железы')
              .last-themes-list__title
                h3 Обухом по голове или рак молочной железы
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 19.01.2023, 12:33
                .last-themes-list__rubric • Моя история
          li.last-themes-list__item.swiper-slide
            a(href='#' title='Меланома. Диагностика после удаления опухоли')
              .last-themes-list__title
                h3 Меланома. Диагностика после удаления опухоли
              .last-themes-list__group
                time.last-themes-list__date(datetime='') 30.01.2023, 13:49
                .last-themes-list__rubric • Моя история
  include include/code
