
/* Bebas Neue */
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
    url('../font/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
    url('../font/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeue-Bold'),
    url('../font/BebasNeue/BebasNeue-Bold.woff2') format('woff2'),
    url('../font/BebasNeue/BebasNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'),
    url('../font/BebasNeue/BebasNeue-Light.woff2') format('woff2'),
    url('../font/BebasNeue/BebasNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: local('Bebas Neue Book'), local('BebasNeue-Book'),
    url('../font/BebasNeue/BebasNeue-Book.woff2') format('woff2'),
    url('../font/BebasNeue/BebasNeue-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Bitter */
@font-face {
  font-family: 'Bitter';
  src: url('../font/Bitter/Bitter-VariableFont_wght.woff2') format('woff2 support variations'),
    url('../font/Bitter/Bitter-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/Bitter/Bitter-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/Bitter/Bitter-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('../font/Bitter/Bitter-Italic-VariableFont_wght.woff2') format('woff2 support variations'),
    url('../font/Bitter/Bitter-Italic-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
