
/* Brand colors */
$Orange                    : #eb6829;
$Green                     : #008000;
$Red                       : #ff0000;

$Black                     : #000000;
$DarkGrey                  : #656565;
$Grey                      : #9e9e9e;
$PaleGrey                  : #c5c5c5;
$LightGrey                 : #e2dcd7;
$White                     : #ffffff;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Bebas Neue', sans-serif;
$bookFontFamily            : 'Bebas Neue Book', sans-serif;
$secondaryFontFamily       : 'Bitter', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1216px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $Orange;
$linkColor_hover           : $Orange;

$successColor              : $Green;
$errorColor                : $Red;

$footerBackground          : #292325;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .6);

$overlayBackground         : rgba($Black, .2)
