
.breadcrumbs { margin-left: 16px; display: flex;
  &__item { display: flex;
    &:not(:first-child) { position: relative; margin-left: 8px;
      &::before { @include pseudo; left: -5px; top: 6px; width: 2px; height: 2px; border-radius: 50%; background: $mainColor; flex: none; }
    }

    a { color: $mainColor; font-weight: 300; font-size: 10px; font-family: $secondaryFontFamily; text-transform: uppercase; white-space: nowrap; }
  }
}

@media screen and (min-width: $tabletWidth) {
  // .breadcrumbs {}
}
@media screen and (min-width: $desktopWidth) {
  .breadcrumbs { margin-left: 48px;
    &__item {
      &:not(:first-child)::before { top: 9px; }

      a { font-size: 14px; }
    }
  }
}
