
.menu { position: absolute; left: 0; top: 64px; right: 0; width: 100%; height: calc(100vh - 64px); background: transparent; overflow: auto; display: none; @include z('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &--open { display: block; }

  &-overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; min-height: calc(100vh - 64px); background: $overlayBackground; overflow-x: hidden; }

  .container { padding: 10px 30px; background: $White;
    .main {
      &-menu ul { display: flex; flex-direction: column;
        li { padding: 8px 4px;
          &:not(:last-child) { border-bottom: 1px solid $mainColor; }
          &.current a { color: $linkColor; }

          a { color: $mainColor; font-size: 17px; }
        }
      }
      &-submenu { display: none;
        &__title { margin: 8px 4px 12px;
          h3 { color: $linkColor; font-weight: normal; font-size: 17px; line-height: 1.5; }
        }

        ul { display: flex; flex-wrap: wrap;
          li { width: calc((100% - 30px) / 2); padding: 8px 4px;
            &:not(:last-child) { border-bottom: 1px solid $mainColor; }
            &:nth-child(even) { margin-left: 30px; }

            a { color: $mainColor; font-size: 17px; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { background: transparent; padding: 0 16px;
      .main { position: absolute; top: 64px; right: 0; width: 59%; border-radius: 20px; padding: 20px 22px; background: $White;
        &-menu { display: none; }
        &-submenu { display: block;
          &__title { display: none; }

          ul li { width: auto; margin: 0 8px; padding: 0;
            &:not(:last-child) { border: none; }
            &:nth-child(even) { margin-left: 8px; }
            &:nth-child(n+5) { margin-top: 12px; }

            a { font-size: 17px; font-family: $bookFontFamily; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {}
    @media screen and (min-width: $desktopWidth) { padding: 0 48px;
      .main { top: 108px; width: 72%;
        &-submenu ul li {
          &:nth-child(n+5) { margin-top: 0; }
          &:nth-child(n+6) { margin-top: 20px; }

          a { font-size: 20px;
            &:hover { color: $linkColor_hover; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { top: 0; height: 100vh; }
}
