#code
  .container
    .code.content.object-wrapper
      .code__title.object
        | Остались вопросы?
        br
        | Напишите нам!
      .code__group
        .code-qr
          .code-qr__image
            img(src='/image/qr1.png' loading='lazy' alt='qr')
          .code-qr__image
            img(src='/image/qr2.png' loading='lazy' alt='qr')
        ul.code-social
          li.code-social__link
            a(href='https://t.me/protivraka2008' target='_blank' title='Перейти')
              svg
                use(href='/image/icon/telegram.svg#telegram')
          li.code-social__link
            a(href='mailto:info@rakpobedim.ru' title='Написать')
              svg
                use(href='/image/icon/email.svg#email')
