footer
  .container
    .footer.content
      .footer-logo
        img(src='/image/logo.png' loading='lazy' alt='Движение против рака')
      .footer-info
        .footer-info__block
          .footer-info__title
            h5 Правовая поддержка онкобольных
          ul.footer-info-contacts
            li.footer-info-contacts__item
              a(href='//yandex.ru/maps/-/CBQ~7DFxHA' target='_blank' title='Перейти') г. Москва, ул. Александра Солженицына, д. 31, стр. 1
            li.footer-info-contacts__item
              a(href='tel:88002004732' title='Позвонить') 8-800-200-47-32
            li.footer-info-contacts__item
              a(href='mailto:info@rakpobedim.ru' title='Написать') info@rakpobedim.ru
          ul.footer-info-social
            li.footer-info-social__link
              a(href='//vk.com/publicdvijenieprotivraka' target='_blank' title='Перейти')
                svg.vk
                  use(href='/image/icon/vk.svg#vk')
            li.footer-info-social__link
              a(href='//t.me/protivraka2008' target='_blank' title='Перейти')
                svg.telegram
                  use(href='/image/icon/telegram.svg#telegram')
            li.footer-info-social__link
              a(href='#' title='Найти')
                svg.search
                  use(href='/image/icon/search.svg#search')
        .footer-info__block
          .footer-info__title
            h5 Авторские права
          .footer-info__text
            p
              | Правовые консультации, размещенные на сайте 
              a(href='/' title='Движение против рака') www.rakpobedim.ru
              | , являются исключительной собственностью МОД «Движение против рака» и&nbsp;защищены законодательством РФ об авторском праве и&nbsp;международными соглашениями. Полное или частичное воспроизведение правовых консультаций без&nbsp;письменного разрешения владельца запрещается.
        .footer-info__block
          .footer-info__title
            h5 При содействии
          .footer-info__text
            p
              img(src='/image/roszdravnadzor.png' loading='lazy' alt='Росздравнадзор')
              | «Движение против рака»
              br
              | является членом Общественного совета по&nbsp;защите прав пациентов при&nbsp;Росздравнадзоре и Совета общественных организаций по&nbsp;защите прав пациентов при&nbsp;Минздраве России
          .footer-info__image
            a(href='#' target='_blank' title='Оценить')
              img(src='/image/rosminzdrav.png' loading='lazy' alt='Минздрав России')
      .footer-copyright
        p &copy; 2005-2023 Движение против рака — все вопросы онкологии
