-
  let menu = [
    { url: '#', title: 'О нас', submenu: true },
    { url: '#', title: 'Защита пациентов' },
    { url: '#', title: 'Форум' },
    { url: '/contacts.html', title: 'Контакты' },
    { url: '#', title: 'Отказали в лекарствах?' },
    { url: '#', title: 'Поддержать нас' }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='/' title='Движение против рака')
          img(src='/image/logo-white.png' loading='eager' alt='Движение против рака')
          span Движение против рака
      nav.header-menu
        ul
          each link in menu
            li
              a(href=link.url data-action=(link.submenu === true ? 'toggle-menu' : undefined) title=link.title) #{ link.title }
      .header-menu-bar
        a(href='#' data-action='toggle-menu' title='Открыть меню')
          svg
            use(href='/image/icon/menu.svg#menu')
          span Меню
