-
  let menu = [
    { url: '#', title: 'О нас', submenu: true },
    { url: '#', title: 'Защита пациентов' },
    { url: '#', title: 'Всё о рака и лекарствах' },
    { url: '#', title: 'Отказали в лекарствах?!' },
    { url: '#', title: 'Форум' },
    { url: '/contacts.html', title: 'Контакты', current: true },
    { url: '#', title: 'Поддержать нас' }
  ],
  submenu = [
    { url: '/about.html', title: 'Наша деятельность' },
    { url: '#', title: 'История движения' },
    { url: '#', title: 'Наши документы' },
    { url: '#', title: 'Форумы движения' },
    { url: '#', title: 'Отношения со спонсорами' },
    { url: '#', title: 'Новости движения' },
    { url: '#', title: 'Наша презентация' },
    { url: '#', title: 'СМИ о нас' },
    { url: '#', title: 'Отзывы пациентов' },
    { url: '#', title: 'Наша библиотека' },
    { url: '#', title: 'Каталог видео' }
  ]

// Menu
.menu
  .menu-overlay(data-action='toggle-menu')
  .container
    .main.content
      nav.main-menu
        ul
          each link in menu
            li(class=(link.current === true ? 'current' : undefined))
              a(href=link.url data-action=(link.submenu === true ? 'open-submenu' : undefined) title=link.title) #{ link.title }
      nav.main-submenu
        .main-submenu__title
          a(href='#' data-action='close-submenu' title='O нас')
            h3 О нас
        ul
          each link in submenu
            li
              a(href=link.url title=link.title) #{ link.title }
