
/* About page */
#about {
  .container {
    .about {
      &__header { margin: 2px 0 24px 16px;
        h1 { font-weight: 300; font-style: normal; font-size: 24px; font-family: $bookFontFamily; line-height: 1.05; }
      }
      &__main { display: flex; flex-direction: column; }
      &__title { margin: 18px 0;
        h4 { font-weight: 500; font-family: $secondaryFontFamily; line-height: 1.25; }
      }
      &__text p { font-weight: 300; font-size: 12px;
        &:not(:last-child) { margin-bottom: 12px; }
      }

      &-menu { margin-bottom: 24px;
        ul { display: flex; flex-direction: column;
          li { padding: 8px 0;
            &:not(:last-child) { border-bottom: 1px solid $Orange; }

            a { color: $mainColor; font-weight: 300; font-style: italic; font-size: 16px; font-family: $secondaryFontFamily; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .about {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .about {
        &__header { margin: 4px 0 80px 48px;
          h1 { font-size: 70px; }
        }
        &__main { flex-direction: row; justify-content: space-between; }
        &__info { width: calc(78% - 32px); }
        &__title { margin: 24px 0;
          h4 { font-weight: bold; font-size: 18px; }
        }
        &__text p { font-size: 18px;
          &:not(:last-child) { margin-bottom: 16px; }
        }

        &-menu { width: calc(22% - 32px); margin: 22px 64px 28px 0;
          ul li a { font-size: 18px;
            &:hover { color: $linkColor_hover; }
          }
        }
      }
    }
  }
}

#code { background: transparent url('/image/bg/code.png') center no-repeat; background-size: cover;
  .container {
    .code { display: flex; flex-direction: column;
      &__title { margin-bottom: 24px; font-style: italic; font-size: 24px; line-height: 1.2; }
      &__group { display: flex; align-items: center; }

      &-qr { display: flex;
        &__image { display: flex;
          &:not(:last-child) { margin-right: 20px; }

          img { width: 100px; height: 100px; flex: none; }
        }
      }

      &-social { margin-left: 24px; display: flex; flex-direction: column;
        &__link { display: flex;
          &:not(:last-child) { margin-bottom: 8px; }

          a { width: 40px; height: 40px; border-radius: 50%; background: $linkColor; color: $White; display: flex; justify-content: center; align-items: center;
            svg { width: 18px; height: 15px; fill: $White; flex: none; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .code {}
    }
    @media screen and (min-width: $desktopWidth) {
      .code { flex-direction: row; justify-content: space-between; align-items: center;
        &__title { width: calc((100% - 48px) / 2); margin: 0 48px 0 80px; font-size: 50px; }
        &__group { width: calc((100% - 48px) / 2); }

        &-qr {
          &__image {
            &:not(:last-child) { margin-right: 40px; }

            img { width: 150px; height: 150px; }
          }
        }

        &-social { margin-left: 48px;
          &__link {
            &:not(:last-child) { margin-bottom: 16px; }

            a { width: 60px; height: 60px;
              &:hover { background: $White; color: $linkColor_hover;
                svg { fill: $linkColor_hover; }
              }
            }
          }
        }
      }
    }
  }
}
