
/* Article page */
#article {
  .container {
    .article {
      &__header { margin: 2px 0 24px 16px;
        h2 { font-weight: 300; font-style: normal; font-size: 24px; font-family: $bookFontFamily; line-height: 1.05; }
      }
      &__title { margin-bottom: 18px;
        h1 { color: $Orange; font-style: normal; font-size: 12px; font-family: $secondaryFontFamily; text-transform: uppercase; }
      }
      &__image { margin-bottom: 18px;
        img { width: 100%; }
      }
      &__text p:not(:last-child) { margin-bottom: 12px; }
    }

    @media screen and (min-width: $tabletWidth) {
      // .article {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .article {
        &__header { margin: 4px 0 60px 48px;
          h2 { font-size: 70px; }
        }
        &__main { margin: 0 48px; }
        &__title { margin: 0 120px 40px 0;
          h1 { font-size: 30px; }
        }
        &__image { margin-bottom: 40px;
          img { width: 750px; }
        }
        &__text p:not(:last-child) { margin-bottom: 22px; }
      }
    }
  }
}
