
/* Contacts page */
#contacts {
  .container {
    .contacts {
      &__header { margin: 2px 0 24px 16px;
        h1 { font-weight: 300; font-style: normal; font-size: 24px; font-family: $bookFontFamily; line-height: 1.05; }
      }

      &-chairman { margin-bottom: 24px; font-weight: 300; font-size: 15px; font-family: $secondaryFontFamily; line-height: 1.2; display: flex; flex-direction: column;
        &__image { display: flex;
          img { width: 160px; flex: none; }
        }
        &__name { margin-top: 24px; font-weight: 500; font-style: italic; font-size: 18px; }
        &__info { margin-top: 18px; }
        &__position { margin-bottom: 18px; }
        &__email a { color: $linkColor; }
      }
      &-list {
        &__item { font-weight: 300; font-size: 15px; font-family: $secondaryFontFamily; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: 24px; }
        }
        &__image { display: flex;
          img { width: 160px; flex: none; }
        }
        &__info { margin-top: 24px; }
        &__icon { display: none; }
        &__name { margin-bottom: 18px; font-weight: 500; font-style: italic; font-size: 18px; }
        &__email a { color: $linkColor; }
        &__position { margin-top: 12px; }
        &__text p { font-weight: 300; font-size: 15px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .contacts {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .contacts {
        &__header { margin: 4px 0 60px 48px;
          h1 { font-size: 70px; }
        }

        &-chairman { border-top: 1px solid $PaleGrey; margin: 0 0 140px 28px; padding: 28px 20px; font-size: 20px; flex-direction: row; justify-content: space-between;
          &__image img { width: 238px; }
          &__name { margin-top: 8px; font-weight: 300; font-size: 17px; }
          &__info { width: calc(100% - 80px - 238px); margin: 0 0 0 80px; }
          &__position { margin: 12px 0 28px; }
          &__phone { margin-bottom: 16px; }
        }
        &-list { margin-left: 48px;
          &__item { font-size: 20px; flex-direction: row; justify-content: flex-end;
            &:not(:last-child) { margin-bottom: 36px; }
            &:last-child .contacts-list__info { border-bottom: 1px solid $PaleGrey; padding: 60px 18px; }
          }
          &__image { margin-top: 36px;
            img { width: 238px; }
          }
          &__info { position: relative;  width: calc(100% - 140px - 238px); border-top: 1px solid $PaleGrey; margin: 0 0 0 140px; padding: 36px 18px; }
          &__icon { position: absolute; top: 20px; right: 20px; display: block;
            img { height: auto; }
          }
          &__name { margin-bottom: 32px; font-size: 28px; }
          &__phone { font-size: 19px; }
          &__email { font-size: 19px; }
          &__position { margin-top: 28px; }
          &__text p { font-size: 24px; }
        }
      }
    }
  }
}
