
/* Index page */
#index {
  .container { padding-bottom: 76px;
    .index { position: relative; display: flex; justify-content: space-between;
      &__title { width: calc((100% - 16px) / 2); margin: 16px 0 20px; }
      &__phone a { color: $mainColor; font-weight: bold; font-size: 26px; line-height: 1.2; }
      &__text p { font-weight: normal; font-size: 12px; font-family: $bookFontFamily; }
      &__image { position: absolute; top: 0; right: 0; width: calc((100% - 16px) / 2); border-radius: 50%; margin-left: 16px; overflow: hidden; display: flex; z-index: -1;
        picture { display: flex; }
        img { width: 100%; flex: none; }
      }
    }
    .running-line { position: absolute; left: 0; bottom: 16px; width: 200%; height: 32px; display: flex; justify-content: space-around; animation: running-line 8s linear infinite;
      &__block { position: absolute; left: 0; bottom: 0; width: 50%; height: 100%; display: flex; justify-content: space-around;
        &:last-child { left: 50%; }
      }
      &__info { color: $Orange; font-weight: 300; font-size: 26px; line-height: 1.2; white-space: nowrap;
        &:last-child { display: none; }
      }
    }

    // Бегущая строка
    @keyframes running-line {
      0% { left: 0; }
      100% { left: -100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 64px 24px 160px;
      .index { position: static;
        &__image { top: 24px; right: 24px; width: 296px; }
      }
      // .running-line {}
    }
    @media screen and (min-width: $desktopWidth) { position: static; padding: 172px 48px 160px;
      .index {
        &__main { width: calc(55% - 24px); margin-left: 20px; }
        &__title { width: 100%; margin: 80px 0 128px; }
        &__phone a { font-size: 68px; }
        &__text p { font-size: 18px; }
        &__image { position: relative; top: auto; right: auto; width: calc(45% - 24px); height: 434px; margin-left: 24px; }
      }
      .running-line { height: 66px; animation-duration: 16s;
        &__info { font-size: 55px;
          &:last-child { display: block; }
        }
      }
    }
  }
}

#banner {
  .container { padding: 0;
    .banner {
      &-list {
        &__item { position: relative; display: flex;
          a { display: flex; flex: auto; }
        }
        &__image { display: flex; flex: auto;
          picture { display: flex; }
          img { width: 100%; flex: none; }
        }
        &__group { position: absolute; left: 0; top: 0; width: 100%; height: 100%; color: $White; text-align: center; white-space: nowrap; display: flex; flex-direction: column; justify-content: center; align-items: center; }
        &__title { font-size: 40px; line-height: 1.1;
          span { font-size: 24px; }
        }
        &__date { margin-bottom: 12px; font-size: 14px; }
      }
    }

    @media screen and (min-width: $tabletWidth) { width: 100%;
      // .banner {}
    }
    @media screen and (min-width: $laptopWidth) { width: 100%; }
    @media screen and (min-width: $desktopWidth) { width: 100%;
      .banner {
        &-list {
          &__title { font-size: 126px;
            span { font-size: 68px; }
          }
          &__date { margin-bottom: 18px; font-size: 48px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { width: 100%;
      .banner {
        &-list {
          &__title { font-size: 166px;
            span { font-size: 104px; }
          }
          &__date { margin: 32px 0 20px; font-size: 62px; }
        }
      }
    }
  }
}

#movement {
  .container {
    .movement { display: flex; justify-content: space-between;
      &__main { width: calc((100% - 16px) / 2); margin-right: 16px; }
      &__title { margin: 0 0 8px 8px;
        h2 { color: $Orange; font-size: 13px; }
      }
      &__text p:not(:last-child) { margin-bottom: 8px; }
      &__note { position: absolute; right: 16px; bottom: 24px; width: calc((100% - 16px) / 2 - 16px); color: $Orange; font-style: italic; font-size: 9px; font-family: $secondaryFontFamily; line-height: 1.2; }
      &__shape { width: calc((100% - 16px) / 2); height: 100%; margin: -24px -16px 20px -16px; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 32px 16px;
      .movement {
        &__note { position: relative; right: auto; bottom: auto; width: auto; margin: 22px 120px 0 0; font-size: 13px; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .movement {
        &__main { width: calc((100% - 24px) / 2); margin: 0 24px 0 20px; }
        &__title { margin: 0 0 28px 20px;
          h2 { font-size: 18px; }
        }
        &__text p:not(:last-child) { margin-bottom: 18px; }
        &__note { margin: 28px 80px 0 0; font-size: 20px; }
        &__shape { width: calc((100% - 24px) / 2); margin: -64px -48px -64px -24px; }
      }
    }
  }
}

#events { background: $LightGrey;
  .container { padding: 24px 40px;
    .events { position: relative;
      &__title { margin: 0 0 16px -8px; }
      &__main { overflow: hidden; }

      &-list {
        &__item { height: 200px; display: flex;
          a { padding: 10px; background: $Orange; display: flex; flex-direction: column; }
        }
        &__title { margin-bottom: 14px;
          h4 { color: $White; }
        }
        &__text { flex-grow: 1;
          p { color: $White; font-weight: normal; font-size: 8px; font-family: $secondaryFontFamily;
            &:not(:last-child) { margin-bottom: 12px; }
          }
        }
        &__date { color: $White; margin: 0 -4px -8px 0; font-size: 8px; align-self: flex-end; }
      }

      // Стрелки слайдера
      &-prev,
      &-next { position: absolute; bottom: 24px; width: 16px; height: 200px; border-radius: 8px; background: $PaleGrey; display: flex; justify-content: center; align-items: center; @include z('slider-arrow');
        // &.swiper-button-disabled svg { fill: rgba($mainColor, .5); }

        svg { width: 16px; height: 16px; fill: $mainColor; }
      }
      &-prev { left: 12px; }
      &-next { right: 12px;
        svg { transform: rotate(180deg); }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .events {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px 48px;
      .events {
        &__title { margin: 0 0 54px 60px; }

        &-list {
          &__item { height: 500px;
            a { padding: 20px 20px 10px; }
          }
          &__title { margin-bottom: 28px; }
          &__text p { font-size: 20px;
            &:not(:last-child) { margin-bottom: 22px; }
          }
          &__date { margin: 0 0 -2px; font-size: 18px; }
        }

        &-prev,
        &-next { bottom: 274px; width: 48px; height: 48px; border-radius: 50%; background: $White; cursor: pointer;
          svg { width: 28px; height: 28px; fill: $mainColor; }
        }
        &-prev { left: 24px; }
        &-next { right: 24px; }
      }
    }
  }
}

#feedback {
  .container {
    .feedback { display: flex; justify-content: space-between;
      &__main { width: calc(54% - 8px); margin-right: 16px; }
      &__title { border-bottom: 3px solid $PaleGrey; margin-bottom: 16px; padding: 0 0 6px 8px;
        h2 { font-size: 18px; }
      }
      &__lead { margin-bottom: 8px; color: $Orange; font-style: italic; font-size: 13px; line-height: 1.2; }
      &__text { margin-bottom: 16px; }
      &__link {
        &:not(:last-child) { margin-bottom: 2px; }

        a { color: $linkColor; font-size: 17px; white-space: nowrap; display: inline-flex; align-items: center; }
      }
      &__icon { border: 1px solid $linkColor; border-radius: 8px; margin-left: 12px; padding: 5px 7px; color: $linkColor; display: flex; justify-content: center; align-items: center;
        svg { width: 14px; height: 7px; fill: $linkColor; flex: none; }
      }
      &__image { width: calc(46% - 8px); display: flex;
        picture { display: flex; justify-content: flex-end; }
        img { width: 100%; align-self: flex-start; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 32px 16px;
      .feedback {
        &__lead { margin-bottom: 32px; font-size: 17px; }
        &__text { margin: 0 80px 16px 0; }
        &__image { margin-top: -16px;
          picture { justify-content: center; }
          img { width: 223px; height: 226px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 92px 48px;
      .feedback {
        &__main { width: calc(54% - 12px); margin: 0 24px 0 40px; }
        &__title { margin-bottom: 96px; border: none; padding: 0;
          h2 { font-size: 50px; }
        }
        &__lead { margin-bottom: 40px; font-size: 35px; }
        &__text { margin: 0 120px 28px 0;
          p { font-size: 25px; font-family: $mainFontFamily; }
        }
        &__link {
          &:not(:last-child) { margin-bottom: 8px; }

          a { font-size: 32px;
            &:hover .feedback__icon { border-color: $linkColor_hover; background: $linkColor_hover; color: $White;
              svg { fill: $White; }
            }
          }
        }
        &__icon { margin-left: 16px; padding: 8px 11px; }
        &__image { width: calc(46% - 12px); margin-top: -32px;
          img { width: 446px; height: 452px; }
        }
      }
    }
  }
}

#reviews { border-bottom: 1px solid $LightGrey; background: $LightGrey;
  .container { padding-bottom: 12px;
    .reviews {
      &__title { margin-bottom: 20px;
        h2 { color: $Orange; font-style: italic; text-align: center; }
      }

      &-list {
        &__item { position: relative; padding: 5px 7px; background: $White; }
        &__icon { position: absolute; left: -8px; top: -8px; width: 33px; height: 33px; border-radius: 50%; background: $White; display: flex; justify-content: center; align-items: center;
          img { width: 13px; height: 23px; flex: none; }
        }
        &__name { min-height: 26px; border-bottom: 1px solid $Orange; margin: 0 -2px 6px 23px; padding-bottom: 3px; color: $Orange; font-size: 9px; font-family: $secondaryFontFamily; line-height: 1.2; }
        &__text p { color: $Grey; font-weight: 500; font-size: 9px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .reviews {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 32px 48px; overflow: hidden;
      .reviews {
        &__title { margin-bottom: 60px;
          h2 { font-size: 24px; }
        }

        &-list {
          &__item { padding: 10px 20px 22px; }
          &__icon { left: -20px; top: -20px; width: 80px; height: 80px;
            img { width: 26px; height: 46px; }
          }
          &__name { min-height: 48px; margin: 0 0 12px 54px; padding-bottom: 8px; font-size: 16px; }
          &__text p { font-size: 16px; }
        }
      }
    }
  }
}

#forum { background: $LightGrey;
  .container {
    .forum {
      &__title { margin-bottom: 16px;
        h2 { font-weight: normal; font-family: $secondaryFontFamily; text-align: center; }
      }
      &__text p { text-align: center;
        &:not(:last-child) { margin-bottom: 12px; }
      }
    }
    .themes { position: relative; border-top: 1px solid $Grey; padding: 12px 24px 0;
      &__title { margin: 0 0 16px -8px;
        h2 { color: $DarkGrey; font-weight: normal; font-style: italic; font-size: 13px; line-height: 1.2; }
      }
      &__main { overflow: hidden; }

      &-list {
        &__item a { height: 58px; padding: 5px 7px 3px; background: $White url('/image/bg/themes.png') center no-repeat; background-size: cover; color: $mainColor; overflow: hidden; display: flex; flex-direction: column; }
        &__title { height: 31.2px;
          h3 { color: $Orange; }
        }
        &__group { margin-top: 8px; display: flex; justify-content: space-between; }
        &__date,
        &__rubric { font-weight: 500; font-size: 7px; font-family: $secondaryFontFamily; }
      }

      // Стрелки слайдера
      &-prev,
      &-next { position: absolute; bottom: 0; width: 16px; height: 58px; border-radius: 8px; background: $PaleGrey; display: flex; justify-content: center; align-items: center; @include z('slider-arrow');
        // &.swiper-button-disabled svg { fill: rgba($mainColor, .5); }

        svg { width: 16px; height: 16px; fill: $mainColor; }
      }
      &-prev { left: -4px; }
      &-next { right: -4px;
        svg { transform: rotate(180deg); }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .forum {}
      // .themes {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 32px 48px 64px;
      .forum { margin-bottom: 24px;
        &__title { margin-bottom: 32px;
          h2 { font-size: 30px; }
        }
        &__text p:not(:last-child) { margin-bottom: 22px; }
      }
      .themes { padding: 40px 40px 0;
        &__title { margin: 0 0 48px 18px;
          h2 { color: $Orange; font-size: 30px; }
        }

        &-list {
          &__item a { height: 100px; padding: 10px; }
          &__title { height: 72px;
            h3 { font-size: 20px; }
          }
          &__date,
          &__rubric { font-size: 12px; }
        }

        &-prev,
        &-next { display: none; }
      }
    }
  }
}

#partners {
  .container {
    .partners {
      &__title { margin-bottom: 20px;
        h2 { color: $Orange; font-size: 17px; text-align: center; }
      }

      &-list { transition-timing-function: linear;
        &__logo { height: auto;
          img { width: 100%; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .partners {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px 96px;
      .partners {
        &__title { margin-bottom: 80px;
          h2 { font-size: 37px; }
        }

        &-list {
          &__logo img { width: auto; height: 50px; }
        }
      }
    }
  }
}
