
/* News page */
#news {
  .container {
    .news {
      &__header { margin: 2px 0 24px 16px;
        h1 { font-weight: 300; font-style: normal; font-size: 24px; font-family: $bookFontFamily; line-height: 1.05; }
      }

      &-list { display: flex; flex-direction: column;
        &__item { background: $White url('/image/bg/news-1.png') center no-repeat; background-size: cover; padding: 10px 10px 8px;
          &:nth-child(2) { background-image: url('/image/bg/news-2.png'); }
          &:nth-child(3) { background-image: url('/image/bg/news-3.png'); }
          &:nth-child(4) { background-image: url('/image/bg/news-4.png'); }
          &:nth-child(5) { background-image: url('/image/bg/news-5.png'); }
          &:nth-child(6) { background-image: url('/image/bg/news-6.png'); }
          &:nth-child(7) { background-image: url('/image/bg/news-7.png'); }
          &:nth-child(8) { background-image: url('/image/bg/news-8.png'); }
          &:nth-child(9) { background-image: url('/image/bg/news-9.png'); }
          &:nth-child(10) { background-image: url('/image/bg/news-10.png'); }
          &:not(:first-child) { margin-top: 18px; }
        }
        &__title { margin-bottom: 12px;
          a { color: $linkColor;
            h4 { font-size: 12px; font-weight: 600; font-family: $secondaryFontFamily; text-transform: uppercase; }
          }
        }
        &__group { margin-top: 12px; display: flex; justify-content: space-between; align-items: flex-end; }
        &__date { color: $Grey; font-weight: bold; font-size: 9px; font-family: $secondaryFontFamily; }
        &__link { margin-left: 12px;
          a { border: 1px solid $linkColor; border-radius: 8px; padding: 5px 7px; color: $White; display: flex; justify-content: center; align-items: center;
            svg { width: 14px; height: 7px; fill: $linkColor; flex: none; }
          }
        }
      }
      &-pagination { padding-top: 24px; display: flex;
        &__item {
          &:not(:last-child) { margin-right: 12px; }
          &.current a { border-color: $linkColor; background: $linkColor; color: $White; }

          a { border: 1px solid $linkColor; border-radius: 8px; padding: 5px 7px; color: $linkColor; font-size: 20px; line-height: 1.05; font-family: $bookFontFamily; display: flex; justify-content: center; align-items: center; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .news {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .news {
        &__header { margin: 4px 0 80px 48px;
          h1 { font-size: 70px; }
        }

        &-list { margin: 0 48px; flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 96px) / 2); padding: 10px;
            &:not(:first-child) { margin: 0; }
            &:nth-child(even) { margin-left: 96px; }
            &:nth-child(n+3) { margin-top: 28px; }
          }
          &__title { margin-bottom: 18px;
            a h4 { font-size: 16px; }
          }
          &__text p { font-size: 14px; }
          &__group { margin-top: 18px; }
          &__date { font-size: 10px; }
          &__link a { padding: 8px 11px; color: $White;
            &:hover { border-color: $linkColor_hover; background: $linkColor_hover;
              svg { fill: $White; }
            }
          }
        }
        &-pagination { margin: 66px 48px 0;
          &__item {
            &:not(:last-child) { margin-right: 18px; }

            a { padding: 2px 18px; font-size: 42px;
              &:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $White; }
            }
          }
        }
      }
    }
  }
}

#last-themes {
  .container {
    .last-themes {
      &__title { margin: 12px 0 16px 16px;
        h2 { color: $Orange; font-weight: normal; font-size: 13px; line-height: 1.2; }
      }

      &-list {
        &__item a { height: 58px; padding: 5px 7px 3px; background: $White url('/image/bg/themes.png') center no-repeat; background-size: cover; color: $mainColor; overflow: hidden; display: flex; flex-direction: column; }
        &__title { height: 31.2px;
          h3 { color: $Orange; }
        }
        &__group { margin-top: 8px; display: flex; justify-content: space-between; }
        &__date,
        &__rubric { font-weight: 500; font-size: 7px; font-family: $secondaryFontFamily; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .last-themes {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 64px 48px;
      .last-themes { margin: 0 48px; overflow: hidden;
        &__title { margin: 12px 0 54px 22px;
          h2 { font-size: 30px; }
        }

        &-list {
          &__item a { height: 100px; padding: 10px; }
          &__title { height: 72px;
            h3 { font-size: 20px; }
          }
          &__date,
          &__rubric { font-size: 12px; }
        }
      }
    }
  }
}
